.game
    height: 90%
    width: 80%
    background-image: url(../assets/WAM_bg.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    display: flex
    justify-content: center
    align-items: center
    position: relative

