.game
    height: 90%
    width: 80%
    background-image: url(../assets/WAM_bg.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    display: flex
    justify-content: center
    align-items: center
    position: relative

.board
    width: 50%
    height: 65%
    display: grid
    justify-content: center
    align-items: center
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: repeat(3, 1fr)
    gap: 15px

.score
    position: absolute
    top: 5%
    left: 5%

.timer
    position: absolute
    top: 5%
    right: 5%