@import '../styles/variables.sass'
    
.game
    height: 80%
    width: 75%
    background-image: url(../assets/images/WAM_bg.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    display: flex
    justify-content: center
    align-items: center
    position: relative
    overflow: hidden
    border-radius: 100px
    box-shadow: 0 0 20px rgb(240, 201, 122) 

.volume-control
    position: absolute
    bottom: 5%
    right: 5%
    display: flex
    label
        display: flex
        align-items: center
        gap: 10px
        svg
            color: $basic-black
            font-size: 4rem
            &:hover
                cursor: pointer